@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1115;
  --foreground: #f3f4f6;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f1115;
}

::-webkit-scrollbar-thumb {
  background: #232732;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

/* Accent Selection */
::selection {
  background-color: #ccff00;
  color: #000000;
}
